*{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#active-menu {
    color: #5570F8;
}

a{
    text-decoration: none;
    color: black;
}

/* Navbar Styles */

.navbar {
    background-color: rgb(242, 242, 242);
    padding: 10px;
}

.navbar-container {
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 26px;
    font-weight: bold;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-menu ul li a {
    color: rgb(85, 85, 85);
}

.btn-primary {
    background-color: #5570F8;
    padding: 14px 24px;
    color: white;
    border-radius: 30px;
}

/* Hero Section Styles */

.hero-container {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    background-color: aquamarine;
    width: 500px;
    height: 500px;
}

.hero-right {
    background-color: rgb(20, 17, 181);
    width: 500px;
    height: 500px;
}




